* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
:root {
  --base-color: rgb(189, 205, 221);
  --main-color: rgb(120, 182, 245);
  --secondary-color: rgba(120, 183, 245, 0.822);
}

html,body{
  min-height: 100vh;
  min-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: floralwhite;
  background-repeat: no-repeat;
  background-size: cover;
}
/*https://www.weatherapi.com/docs/weather_conditions.json/ */
/*code 1000*: */
body.day.sunny {
  --main-color: gold;
  --secondary-color: rgba(249, 213, 9, 0.775);
  background-image: url(../images/sunny.webp);
}
body.sunset.sunny {
  --main-color: gold;
  --secondary-color: rgba(249, 213, 9, 0.775);
  background-image: url(../images/clear_sunset.webp);
}
body.night.clear {
  --main-color: navy;
  --secondary-color: rgba(0, 0, 128, 0.775);
  background-image: url(../images/clear-night.jpg);
}
/*code 1003*: */
body.day.partly-cloudy {
  --main-color: rgb(146, 195, 214);
  --secondary-color: rgba(146, 195, 214, 0.775);
  background-image: url(../images/partly-cloudy.jpg);
}
body.sunset.partly-cloudy {
  --main-color: orangered;
  --secondary-color: rgb(218, 68, 14, 775);
  background-image: url(../images/partly-cloudy-sunset.jpg);
}
body.night.partly-cloudy {
  --main-color: navy;
  --secondary-color: rgba(0, 0, 128, 0.775);
  background-image: url(../images/partly-cloudy-night.jpg);
}
/*code 1006*: */
body.day.cloudy {
  --main-color: rgb(146, 195, 214);
  --secondary-color: rgba(146, 195, 214, 0.775);
  background-image: url(../images/cloudy-day.webp);
}
body.sunset.cloudy {
  --main-color: orangered;
  --secondary-color: rgb(218, 68, 14, 775);
  background-image: url(../images/cloudy-sunset.jpg);
}
body.night.cloudy {
  --main-color: navy;
  --secondary-color: rgba(0, 0, 128, 0.775);
  background-image: url(../images/cloudy-night.jpg);
}
/*Code 1009*/
body.day.overcast {
  --main-color: rgb(146, 195, 214);
  --secondary-color: rgba(146, 195, 214, 0.775);
  background-image: url(../images/overcast-day.webp);
}
body.sunset.overcast {
  --main-color: orangered;
  --secondary-color: rgb(218, 68, 14, 775);
  background-image: url(../images/overcast-sunset.jpg);
}
body.night.overcast {
  --main-color: navy;
  --secondary-color: rgba(0, 0, 128, 0.775);
  background-image: url(../images/overcast-night.jpg);
}
/*Code 1030*/
body.day.mist {
  --main-color: steelblue;
  --secondary-color: rgba(70, 131, 180, 0.775);
  background-image: url(../images/mist-day.jpg);
}
body.sunset.mist {
  --main-color: rgb(241, 186, 82);
  --secondary-color: rgba(241, 185, 82, 0.775);
  background-image: url(../images/sunset-mist.jpg);
}
body.night.mist {
  --main-color: darkslateblue;
  --secondary-color: rgba(71, 61, 139, 0.775);
  background-image: url(../images/night-mist.jpeg);
}
/*Code 1135*/
body.day.fog {
  --main-color: steelblue;
  --secondary-color: rgba(70, 131, 180, 0.775);
  background-image: url(../images/fog-day.jpg);
}
body.sunset.fog {
  --main-color: rgb(241, 186, 82);
  --secondary-color: rgba(241, 185, 82, 0.775);
  background-image: url(../images/fog-sunset.jpg);
}
body.night.fog {
  --main-color: darkslateblue;
  --secondary-color: rgba(71, 61, 139, 0.775);
  background-image: url(../images/fog-night.jpeg);
}
/* Rain*/
body.day.rain {
  --main-color: orangered;
  --secondary-color: rgb(218, 68, 14, 775);
  background-image: url(../images/rain-day.jpg);
}
body.sunset.rain {
  --main-color: rgb(241, 186, 82);
  --secondary-color: rgba(241, 185, 82, 0.775);
  background-image: url(../images/rain-sunset.jpg);
}
body.night.rain {
  --main-color: navy;
  --secondary-color: rgba(0, 0, 128, 0.775);
  background-image: url(../images/night-rain.jpeg);
}
/**/
body.thunder {
  --main-color: rgb(64, 0, 128);
  --secondary-color: rgba(64, 0, 128, 0.775);
  background-image: url(../images/thundery.jpg);
}
/*Shower*/
body.day.shower {
  --main-color: orangered;
  --secondary-color: rgb(218, 68, 14, 775);
  background-image: url(../images/shower-day.jpeg);
}
body.sunset.shower {
  --main-color: rgb(241, 186, 82);
  --secondary-color: rgba(241, 185, 82, 0.775);
  background-image: url(../images/rain-sunset.jpg);
}
body.night.shower {
  --main-color: navy;
  --secondary-color: rgba(0, 0, 128, 0.775);
  background-image: url(../images/night-rain.jpeg);
}
/*Snow*/
body.day.snow {
  --main-color: orangered;
  --secondary-color: rgb(218, 68, 14, 775);
  background-image: url(../images/snow-day.jpeg);
}
body.sunset.snow {
  --main-color: rgb(241, 186, 82);
  --secondary-color: rgba(241, 185, 82, 0.775);
  background-image: url(../images/snow-sunset.jpg);
}
body.night.snow {
  --main-color: navy;
  --secondary-color: rgba(0, 0, 128, 0.775);
  background-image: url(../images/snow-night.jpeg);
}
/*Sleet*/
body.day.sleet {
  --main-color: orangered;
  --secondary-color: rgb(218, 68, 14, 775);
  background-image: url(../images/sleet-day.jpg);
}
body.sunset.sleet {
  --main-color: rgb(241, 186, 82);
  --secondary-color: rgba(241, 185, 82, 0.775);
  background-image: url(../images/sleet-sunset.jpg);
}
body.night.sleet {
  --main-color: navy;
  --secondary-color: rgba(0, 0, 128, 0.775);
  background-image: url(../images/sleet-night.jpg);
}
/*
TODO: add more classes for more conditions
*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  color: white;
}

header h1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}

.switch {
  background: var(--base-color);
  flex: 1;
  max-width: 50px;
  min-width: 50px;
  padding: 5px;
  border-radius: 5px;
}

.switch-toggle {
  position: relative;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  background: var(--base-color);
  transition: all 0.3s ease;
  left: 0;
}

.switch-toggle {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--main-color);
  transition: all 0.3s ease;
  left: 0;
}

.switch-toggle.active {
  left: 70%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  gap: 5px;
}

#bar-days {
  background: lightgray;
  flex: 1;
  border-radius: 5px;
  display: flex;
  gap: 5px;
}

#bar-days > .weather-day {
  border-radius: 5px;
  padding: 3px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--base-color);
  color: white;
}

#bar-days > .weather-day:hover {
  background: var(--secondary-color);
  transition: all 0.5s ease;
}

#bar-days > .weather-day.selected-day {
  background: var(--main-color);
  transition: all 0.5s ease;
}

#card-content {
  width: 100%;
  flex: 12;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#bar-options {
  flex: 1;
  display: flex;
}

#general-opt,
#detail-opt {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--base-color);
  transition: all 0.5s ease;
  color: white;
}

#general-opt {
  border-radius: 5px 0 0 0;
}

#general-opt:hover,
#detail-opt:hover {
  background: var(--secondary-color);
}

#detail-opt {
  border-radius: 0 5px 0 0;
}

#general-opt.active,
#detail-opt.active {
  background: var(--main-color);
}

#option-content {
  flex: 12 1 auto;
  height: 0px;
  overflow-y: auto;
  display: flex;
}

#option-content.general {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "condition astro astro"
    "temperature rain rain"
    "temperature rain rain";
}
#option-content.general > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#condition-tile {
  grid-area: condition;
}

#astro-tile {
  grid-area: astro;
}
#temperature-tile {
  grid-area: temperature;
}
#rain-tile {
  grid-area: rain;
}

.chart {
  height: 200px;
}

.search-weather {
  display: flex;
  gap: 5px;
}
.search-weather input[type="text"] {
  color: white;
  flex: 8;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: var(--main-color);
  transition: all 0.5s ease;
  outline: none;
}
.search-weather input[type="text"]:hover {
  background-color: var(--main-color);
}

.search-weather button {
  flex: 1;
  border-radius: 5px;
  background: lightgrey;
  transition: all 0.5s ease;
  border: none;
}

.search-weather button:hover {
  background: var(--main-color);
}
#progress-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
}

#waiting-icon {
  font-size: 20vw;
  text-align: center;
}
table {
  flex: 1;
  color: white;
}
table tr {
  display: flex;
}

table th {
  width: 100px;
}

table thead th {
  background: grey;
  color: white;
}

table tr th {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: medium solid white;
}
table tbody th {
  background: var(--base-color);
}
footer {
  color: white;
}
